.wrap-form {
    max-width: 450px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 24px;
    margin: 0 auto 40px;
    background-color: #bdbdbd;
}
.form-search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}