.AuthLayout {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.auth-block {
    display: flex;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
}