.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    transition: all ease .3s;
}

.active {
    border-color: #ef6c00;
    font-weight: 500;
}